.header {
  background-color: #202332;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.h1 {
  font-size: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

img {
  height: 50px;
  margin-right: 10px;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  margin: 0;
}

.green {
  color: #4caf50;
}

.red {
  color: #f44336;
}